*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
    font-size: 64px;
}

.main{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.stats{
    width:800px;
    border: 8px solid white;
    display: flex;
    flex-direction: column;
}

.info{
    width:800px;
}


.canvas{
    position:fixed;
    width: 800px;
    height: 800px;
    background-color: dimgray;
    outline: 16px solid white;
}

.sprite{
    position: absolute;
    height: 40px;
    width: 40px;
    &.player{
        background-color: white;
        z-index: 4;
        left:360px;
        top:360px;
    }
    &.enemy{
        background-color: black;
        z-index: 4;
    }
    &.ammo, &.bullet{
        height: 10px;
        width: 10px;
        background-color: orange;
        z-index: 2;
    }
    &.bullet{
        background-color: darkgray;
        border-radius: 50%;
        box-shadow: 0px 0px 30px 3px white;
        z-index: 3;
    }
}

.laser{
    position: absolute;
    background-color: red;
    box-shadow: 0px 0px 30px 3px red;
    z-index: 5;
}

.deathScreen{
    visibility: hidden;
    display:flex;
    position:fixed;
    width:800px;
    height:800px;
    background-color: black;
    z-index: 6;

    &+h1{
        color:darkred
    }
}

.startScreen{
    visibility: visible;
    text-align: center;
    width:800px;
    height:800px;
    opacity: 50%;
    background-color: black;
    z-index: 6;
}