*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.canvas{
    position:fixed;
    width: 800px;
    height: 800px;
    background-color: dimgray;
}

.player, .enemy{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: white;
}

.sprite{
    position: absolute;
    height: 60px;
    width: 60px;
    &.player{
    background-color: white;
    }
    &.enemy{
    background-color: black;
    }
    &.ammo, &.bullet{
        height: 15px;
        width: 15px;
        background-color: orange;
    }
    &.bullet{
        background-color: darkgray;
        border-radius: 50%;
        box-shadow: 0px 0px 30px 3px white;
    }
}

.laser{
    position: absolute;
    background-color: red;
    box-shadow: 0px 0px 30px 3px red;
}

.deathScreen{
    visibility: hidden;
    display:flex;
    position:fixed;
    width:800px;
    height:800px;
    background-color: black;

    &+h1{
        color:darkred
    }
}

.startScreen{
    visibility: hidden;
    text-align: center;
    width:800px;
    height:800px;
    opacity: 50%;
    background-color: black;
}